<ion-header>
  <ion-toolbar>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="takeSnap()">
    Take Snap
  </ion-button>

  <img [src]="capturedSnapURL" />
</ion-content>
